* {
  padding: 0;
  margin: 0;
  color: rgb(67, 67, 68);
  list-style: none;
  /* background-color: rgb(255,255,255); */
}
html,
body {
  width: 100%;
  height: 100%;
}
.home_page {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  /* background-color:pink; */
}
.header {
  height: 8%;
  width: 100%;
  /* margin:auto 0px; */
  padding: 0 10px;
  background-color: rgb(236, 65, 65);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.search-container {
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  height: 60%;
  width: 50%;
  align-items: center;
}
.search_div {
  width: 80%;
  height: 80%;
  margin-left: 200px;
  display: flex;
  align-items: center;
  position: relative;
}
.search_hint {
  display: none;
}
.search {
  /* margin-left: 10%; */
  /* padding: 4px; */
  background-color: rgb(236, 236, 236);
  border: none;
  height: 70%;
  width: 100%;
  outline: none;
  /* color: white; */
}
.search-container-2 {
  width: 100%;
  display: flex;
}
.icon-sousuo {
  color: gray;
  margin: 5px;
}
.touxiang {
  width: 20%;
  /* background-color: grey; */
  height: 80%;
  display: flex;
  align-items: center;
}
/* .qita{
    background-color:skyblue;
    height: 80%;
} */
.p {
  font-size: 15px;
  margin-left: 5%;
  color: white;
}
.touxiang img {
  border-radius: 50%;
  /* width: 16%; */
  height: 70%;
}
.sidebar {
  /* background-color: green; */
  height: 92%;
  width: 15%;
  border-right: 0.5px solid rgb(224, 224, 224);
  display: inline-block;
  /* position: absolute; */
  overflow: auto;
  position: fixed;
  top: 8%;
}
.sidebar h3,
.sidebar li,
.sidebar h5 {
  padding: 5% 10%;
}
.sidebar h3 {
  background-color: rgb(246, 246, 247);
}
.sidebar li:hover {
  background-color: rgb(246, 246, 247);
}
.sidebar h5 {
  color: rgb(207, 207, 207);
  font-weight: 500;
}
/* #likesong{
    height: 92%;
    width: 85%;
    background-color: pink;
    position: absolute;
    left:15%; */
/* display: none; */
/* border:1px solid green; */
/* } */
/* #creat0,#creat2{
    /* border: 1px solid red; */
/* height: 92%;
    width: 85%;
    background-color:orange;
    position: absolute;
left:15%;} */

.main,
.findMusic,
.search_con,
.setting_page {
  height: 78%;
  width: 81%;
  /* background-color: pink; */
  position: absolute;
  left: 15%;
  top: 8%;
}
.main {
  padding-left: 20px;
}
.shouye {
  height: 100%;
  /* background-color: pink; */
}
.slideshow {
  height: 45%;
  /* background-color: brown; */
}
#banner {
  margin-top: 2%;
  list-style: none;
  position: absolute;
  padding: 0;
  /* top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto; */
  width: 100%;
  height: 100%;
}
#banner:hover {
  cursor: pointer;
}
.cur_li {
  float: left;
  position: absolute;
  left: 0px;
  transition-duration: 0.4s;
}
.bottom {
  height: 10px;
  width: 20%;
  /* background-color: pink; */
  /* margin-top:270px; */
  position: absolute;
  z-index: 101;
  margin: 270px 40% 0;
  display: flex;
  justify-content: space-between;
}
.bottom_div {
  height: 8px;
  width: 8px;
  background-color: rgb(224, 224, 224);
  opacity: 0.8;
  border-radius: 20px;
  float: left;
}
.tjgd {
  height: 90%;
  /* background-color: darkgoldenrod; */
}
.lastMusic {
  height: 70%;
  /* background-color: #bfbfbf; */
  /* margin-bottom: 50%; */
}
.search_con {
  /* background-color:darkgreen; */
  padding: 3% 2%;
  display: none;
}
.findMusic {
  margin-left: 9%;
  margin-right: 10%;
  width: 68%;
  /* height: 100%; */
}
.search_hint {
  z-index: 1000;
  height: 80%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  padding: 2% 2%;
  margin-left: 0.7%;
  box-shadow: 0 0 5px 2px rgb(217, 206, 206);
}
.search_hint h4 {
  color: rgb(155, 155, 155);
}
.search_ol {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.search_ol::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
.search_ol::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}
.search_ol::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}
.search_ol::-webkit-scrollbar-thumb:hover {
  background: #333;
}
.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
.sidebar::-webkit-slider-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: rgb(239, 239, 239);
  border: 2px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #333;
}
.hots {
  /* background-color: pink; */
  /* border: 1px solid pink; */
  padding: 2% 1%;
}
.main .title {
  height: 240px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.title .title_img {
  /* background-color: gold; */
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
}
.title_img .newImg {
  border-radius: 10px;
}
.title .title_rel {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  /* align-items: center; */
  /* background-color: firebrick; */

}
.title .title_rel .creatorgd {
  border: 1px solid blanchedalmond;
}
.span {
  height: 18%;
  width: 70%;
  /* border: 1px solid yellowgreen; */
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}
.title_p {
  margin-top: 2%;
}
.span_son {
  width: 20%;
  border: 2px solid #d0d7de;
  border-radius: 5px;
  display: flex;
  color: gray;
  background-color: rgb(243,244,246);
  justify-content: center;
  align-items: center;
}
.span_son:hover {
  background-color: #fff;
}
.findMusic_ul {
  height: 10%;
  display: flex;
  /* display: none; */
}
.findMusic_ul li {
  display: flex;
  align-items: center;
  width: 10%;
  /* flex:auto; */
  /* border: 1px solid red; */
}

.songlist {
  height: 65%;
  /* background-color: bisque; */
}
.songlist_title {
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
  /* border-radius: 30px; */
  height: 10%;
}
.songlist_title li {
  /* border: 1px solid green; */
  border-radius: 30px;
  height: 80%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newli {
  margin: 1% 0;
  padding: 0.5%;
  padding-left: 1%;
}
.newli:hover {
  background-color: rgb(246, 246, 247);
}
.play {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0%;
  height: 8%;
  width: 100%;
  position: fixed;
  /* background-color: cornflowerblue; */
  border-top: 1px solid rgb(224, 224, 224);
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.play_left,
.play_right {
  height: 100%;
  width: 20%;
  /* background-color: darkblue; */
  display: flex;
}
.music_img {
  /* background-color: pink; */
  height: 100%;
  width: 25%;
  border-radius: 10px;
}
.upload {
  position: absolute;
  /* width:; */
  height: 50%;
  opacity: 0.4;
  bottom: 25%;
  left: 1.5%;
  display: none;
}
.play_left .img_word {
  /* border: 1px solid orange; */
  width: 75%;
  padding: 1% 3%;
}
.img_name_artist {
  margin-top: 3%;
  font-size: 10px;
}
.play_center {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#audio {
  height: 50%;
  width: 100%;
  /* background-color: darkgoldenrod; */
}
.anniu {
  height: 50%;
  width: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: space-around;
}
.comment_con {
  height: 40%;
  width: 100%;
  /* background-color: pink; */
  position: relative;
}
#textarea {
  height: 40%;
  width: 95%;
  margin: 1% 2% 0.5%;
  border-radius: 20px;
  /* position: absolute; */
}
.submit {
  position: absolute;
  width: 5%;
  height: 20%;
  border-radius: 20px;
  right: 3%;
  bottom: 20%;
}
.comment_li {
  border-bottom: 1px solid rgb(246, 246, 247);
  height: 40%;
  /* background-color: burlywood; */
  margin-top: 2%;
  font-size: 10px;
  /* color:rgb(11,88,176); */
  position: relative;
}
.postname {
  color: rgb(11, 88, 176);
}
.my_comment {
  position: relative;
  border-bottom: 1px solid rgb(246, 246, 247);
  height: 40%;
  /* background-color: burlywood; */
  margin-top: 2%;
  font-size: 10px;
}
.postname2 {
  color: rgb(11, 88, 176);
}
.icon-dahuifu {
  position: absolute;
  bottom: 0;
  right: 5%;
}
.isreplyed {
  padding: 0.5% 0;
  background-color: rgb(183, 177, 177);
}
.jinpin {
  background-color: orange;
  height: 22%;
  width: 100%;
  display: none;
}
.gdlist {
  /* background-color: rgb(56, 49, 46); */
  height: 100%;
  padding: 2% 0;
  display: none;
}
.gdlist_ul,
.tj_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gdlist_li,
.tj_li {
  height: 70%;
  width: 15%;
  /* background-color: antiquewhite; */
  border-radius: 5%;
  /* flex:1; */
  margin-right: 2%;
  margin-top: 2%;
  position: relative;
}
.search_li {
  display: flex;
  /* justify-content: space-around; */
  padding: 1% 0;
}
.search_name {
  /* background-color: #bfbfbf; */
  width: 40%;
}
.artists {
  /* background-color: aquamarine; */
  width: 20%;
}
.album {
  /* background-color:darkkhaki; */
  width: 20%;
}
.gdlist img,
.tj_li img {
  height: 70%;
  width: 100%;
  border-radius: 5%;
}
.gdlist_word,
.tj_word {
  height: 27%;
  padding: 1% 2%;
}
.play_count,
.tj_count {
  position: absolute;
  left: 45%;
  bottom: 85%;
  z-index: 1;
  color: rgb(255, 255, 255);
}
.play_count {
  position: absolute;
  left: 50%;
  bottom: 85%;
  z-index: 1;
  color: rgb(255, 255, 255);
}
.allgd {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 22%;
  padding: 0.5% 2%;
}
.sort {
  height: 60%;
  width: 80%;
  background-color: darkkhaki;
  position: absolute;
  margin-top: 1%;
  display: none;
  z-index: 2;
}
.sort_ul {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sort_li {
  height: 5%;
  width: 10%;
  /* border: 1px solid  rgb(224,224,224); */
  border-radius: 1%;
  padding: 1% 0;
  text-align: center;
  margin-right: 2%;
}
.search_title h3 {
  display: none;
}
.lastMusic_ul {
  height: 80%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lastMusic_li {
  height: 20%;
  width: 30%;
  /* background-color: coral; */
  display: flex;
}
.lastMusic_li img {
  height: 100%;
  width: 27%;
  border-radius: 10px;
}
.lm_p {
  padding: 2% 2%;
}
.lm_artist {
  margin-top: 2%;
  font-size: 13px;
  color: rgb(183, 183, 183);
}
.lyric {
  display: none;
  height: 90%;
  width: 90%;
  background-image: linear-gradient(
    to bottom,
    rgb(203, 205, 206),
    rgb(238, 239, 239),
    rgb(255, 255, 255)
  );
  z-index: 103;
  padding: 5% 5%;
}
.lyric_top {
  height: 20%;
  width: 100%;
  /* background-color: blue; */
}
.lyric_main {
  height: 70%;
  /* background-color: rgb(249,249,249); */
  display: flex;
  width: 100%;
}
.lyric_left,
.lyric_center,
.lyric_right {
  height: 70%;
  flex: 1;
}
.lyric_center {
  /* background-color: pink; */
  overflow: auto;
}

.lyric_right h3 {
  margin-left: 20%;
}
.singleLrc {
  text-align: center;
  padding: 2% 0;
  color: rgb(100, 100, 100);
}
.songName {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.songartist {
  text-align: center;
}
.newimg {
  position: absolute;
  height: 250px;
  border-radius: 100%;
  left: 10%;
  top: 34%;
  animation: rotate 10s linear infinite;
}
.black {
  height: 100%;
  border-radius: 100%;
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.lyric_right {
  overflow: auto;
}
.lyric_right_li {
  padding: 2% 0;
  margin-left: 25%;
}
.down-arrow {
  height: 40px;
  position: absolute;
  top: 5%;
  left: 4%;
}
.setting-out {
  display: flex;
  height: 100%;
  padding: 0 20px;
  justify-content: flex-end;
  align-items: center;
}
.setting {
  height: 60%;
}
.setting_page {
  display: none;
  /* background-color: antiquewhite; */
  padding: 2% 3%;
}
.name,
.introduce {
  margin-left: 2%;
  width: 50%;
  border-radius: 8px;
  border: 1px solid rgb(229, 229, 229);
  padding: 10px;
}
.name {
  height: 5%;
  margin-top: 5%;
}
.introduce {
  margin-top: 2%;
}
.intd_span {
  position: relative;
  bottom: 20%;
}
.preserve {
  height: 6%;
  width: 7%;
  background-color: rgb(236, 65, 65);
  opacity: 0.7;
  color: white;
  border-radius: 20px;
  border: 1px solid rgb(236, 65, 65);
}
.cancel {
  height: 6%;
  width: 7%;
  background-color: white;
  opacity: 0.7;
  /* color: white; */
  border-radius: 20px;
  border: 1px solid rgb(229, 229, 229);
}
.cancel,
.preserve {
  margin-top: 3%;
  margin-left: 6%;
  font-size: 15px;
}
.sex {
  margin-left: 3%;
  margin-top: 2%;
}
#birthday_year,
#birthday_month,
#birthday_day,
#province,
#city {
  margin-top: 3%;
  margin-left: 2%;
  height: 7%;
  border-radius: 7px;
  width: 20%;
  border: 1px solid rgb(229, 229, 229);
}
.songlist_con {
  list-style: none;
  /* 移除li前面的黑点 */
  list-style-type: none; 
  counter-reset: sectioncounter;
}
.songlist_con li:before {
  content: counter(sectioncounter) " ";
  counter-increment: sectioncounter;
  color: grey;
  font-family: HelveticaNeue-Bold, HelveticaNeue;
}
.songlist_con li:nth-child(even){
  /* 利用css选择器，偶数列增加背景色 */
  background: rgb(234, 235, 237);
}
.songlist_con li:nth-child(even){
  /* 利用css选择器，偶数列增加背景色 */
  background: rgb(240, 240, 240);
}